.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1312px;
  margin: 16px auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 18px;
}

.logo {
  margin-right: 77px;
}

.input {
  display: flex;
}

.inputField {
  border: 2px solid #3a6150;
  border-right: none;
  padding: 0px 16px;
  font-size: 18px;
  color: rgba(58, 97, 80, 0.7);
  height: 48px;
  width: 370px;
}

.searchIcon {
  width: 52px;
  height: 52px;
  background-color: #3a6150;
  border: none;
  border-radius: 2px;
}

a {
  color: black;
  text-decoration: none;
}
